/*GLOBALI*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
}
body {
  color: #191919;
}
/*HEADER*/
header {
  background-color: #ffc017;
  font-family: "Roboto", sans-serif;
}
.menu {
  font-size: 1em;
  display: flex;
  align-items: center;
  background-color: #ffc017;
  transition: background-color 0.5s ease;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.scrolled {
  background-color: #fafafa;
}

.title {
  margin-top: 8%;
  display: inline-flex;
  align-items: center;
}
.title div {
  margin-left: 20%;
}
.title div h1 {
  font-size: 5.5em;
}
.title div p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #313131;
  font-weight: 400;
}
.menu {
  padding: 20px;
}
.menu svg {
  width: 30%;
}

.menu img {
  margin-right: auto;
  margin-left: 20%;
}
.menu button {
  margin-right: auto;
}
.menu ul li {
  list-style-type: none;
  display: inline-flex;
  margin-right: 20px;
  color: #292929;
}
.title button {
  border-radius: 25px;
  width: 250px;
  font-size: 1.3em;
}

header button {
  font-size: 800;
  background-color: #191919;
  border-radius: 18px;
  color: rgb(233, 233, 233);
  padding: 14px;
  border: none;
}

.line {
  height: 1px;
  background-color: #464646;
  margin-top: 5px;
}
/*MAIN*/
main,
footer {
  margin-left: 20%;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  margin-top: 50px;
}
#trendingContainer {
  gap: 10px;
  display: flex;
  align-items: center;
}
#trendingContainer h3 {
  font-size: 0.6em;
  font-weight: 800;
}

#containerAllArticles {
  margin-bottom: 50px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.articleMain {
  width: 31%;
  margin: 5px;
}

.containerArticle {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  gap: 10px;
  margin-bottom: 10px;
}
.containerArticle h3 {
  font-size: 0.9em;
  font-weight: 500;
}
.containerArticle {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  gap: 10px;
  margin-bottom: 10px;
}
.number {
  position: absolute;
  font-size: 2em;
  margin-left: -50px;
  color: #d8d8d8;
}

.containerArticle img {
  border-radius: 25%;
  width: 18px;
  align-items: baseline;
}

.content {
  max-width: 80%;
}
.content h2 {
  font-weight: 700;
  font-size: 0.7em;
}
.content p {
  color: #646464;
  font-size: 0.6em;
  display: inline-block;
}
.articleMain a {
  text-decoration: none;
  color: #191919;
}
/*SECOND CONTAINER ARTICLE */
#secondContainerArticle {
  display: flex;
}
#containerAllArticlesSecond {
  margin-bottom: 50px;
  margin-top: 25px;
}

.authorImg {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  gap: 10px;
  margin-bottom: 10px;
}

.titleParagraph h2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.2em;
}
.titleParagraph p {
  color: #646464;
  font-size: 0.8em;
  display: inline-block;
}
.authorImg img {
  border-radius: 25%;
  width: 18px;
  align-items: baseline;
}
.containerArticle2 {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 90px;
}
.containerArticle2 button {
  padding: 5px;
  background-color: #efefef;
  border-radius: 25%;
  border: none;
  color: #818181;
}
.containerArticle2 span img {
  width: 200px;
}
.containerArticle2 div {
  width: 90%;
}
.date {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #646464;
  font-size: 0.6em;
  gap: 5px;
}
.date {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #646464;
  font-size: 0.6em;
  gap: 5px;
}
.date img:last-of-type {
  margin-left: auto;
}
/*ASIDE */
aside {
  margin-right: 10%;
  margin-top: 20px;
  max-width: 30%;
}
aside h3 {
  font-weight: 600;
  font-size: 0.7em;
  margin-bottom: 10px;
}
aside button {
  color: #383838;
  margin-right: 5px;
  margin-top: 5px;
  border: none;
  background-color: #e9e9e9;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.topics {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  color: green;
  font-size: 0.7em;
  margin-bottom: 40px;
}

.link {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.link a {
  font-size: 0.7em;
  text-decoration: none;
  color: #818181;
  display: inline-block;
}
.line2 {
  height: 1px;
  background-color: #afafaf94;
  margin-top: 5px;
}
